<a href="https://colab.research.google.com/github/LatiefDataVisionary/multivariate-analysis-college-task/blob/main/multiple_linear_regression_w10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Library**

In [1]:
import pandas as pd
import numpy as np

**1. Persiapan Data**

In [7]:
data = {
    'X2': [50, 30, 70, 20, 60, 40, 25, 80, 35, 45],  # Budget Iklan
    'X1': [5, 3, 7, 2, 6, 4, 3, 8, 4, 5],          # Jumlah Sales
    'Y': [120, 80, 200, 50, 180, 100, 70, 250, 90, 130] # Penjualan
}

df = pd.DataFrame(data)
print("==============================================================================")
print("                     ANALISIS REGRESI LINEAR BERGANDA                      ")
print("==============================================================================")
print("\n--- 1. DATASET AWAL ---")
print(df.to_string()) # Menggunakan to_string() untuk tampilan DataFrame yang lebih baik di console

==============================================================================
                     ANALISIS REGRESI LINEAR BERGANDA
==============================================================================

--- 1. DATASET AWAL ---
   X2  X1    Y
0  50   5  120
1  30   3   80
2  70   7  200
3  20   2   50
4  60   6  180
5  40   4  100
6  25   3   70
7  80   8  250
8  35   4   90
9  45   5  130

**2. Menghitung Jumlah (Summations) dan n**

In [8]:
n = len(df)
sum_X1 = df['X1'].sum()
sum_X2 =df['X2'].sum()
sum_Y = df['Y'].sum()

sum_X1_sq = (df['X1']**2).sum()
sum_X2_sq = (df['X2']**2).sum()
sum_Y_sq = (df['Y']**2).sum()

sum_X1Y = (df['X1'] * df['Y']).sum()
sum_X2Y = (df['X2'] * df['Y']).sum()
sum_X1X2 = (df['X1'] * df['X2']).sum()

print("\n\n--- 2. NILAI-NILAI AWAL ---")
print(f"Jumlah Observasi (n)                 : {n}")
print("-" * 60)
print(f"ΣX1 (Jumlah Budget Iklan)            : {sum_X1}")
print(f"ΣX2 (Jumlah Sales)                   : {sum_X2}")
print(f"ΣY (Jumlah Penjualan)                : {sum_Y}")
print("-" * 60)
print(f"ΣX1^2 (Jumlah Kuadrat Budget Iklan)  : {sum_X1_sq}")
print(f"ΣX2^2 (Jumlah Kuadrat Sales)         : {sum_X2_sq}")
print(f"ΣY^2 (Jumlah Kuadrat Penjualan)      : {sum_Y_sq}")
print("-" * 60)
print(f"ΣX1Y (Jumlah Produk X1 dan Y)        : {sum_X1Y}")
print(f"ΣX2Y (Jumlah Produk X2 dan Y)        : {sum_X2Y}")
print(f"ΣX1X2 (Jumlah Produk X1 dan X2)      : {sum_X1X2}")

--- 2. NILAI-NILAI AWAL ---
Jumlah Observasi (n)                 : 10
------------------------------------------------------------
ΣX1 (Jumlah Budget Iklan)            : 47
ΣX2 (Jumlah Sales)                   : 455
ΣY (Jumlah Penjualan)                : 1270
------------------------------------------------------------
ΣX1^2 (Jumlah Kuadrat Budget Iklan)  : 253
ΣX2^2 (Jumlah Kuadrat Sales)         : 24175
ΣY^2 (Jumlah Kuadrat Penjualan)      : 198100
------------------------------------------------------------
ΣX1Y (Jumlah Produk X1 dan Y)        : 7040
ΣX2Y (Jumlah Produk X2 dan Y)        : 68950
ΣX1X2 (Jumlah Produk X1 dan X2)      : 2470

**3. Menghitung Koreksi Jumlah Kuadrat dan Produk**

In [9]:
sum_x1_sq_corrected = sum_X1_sq - (sum_X1**2)/n
sum_x2_sq_corrected = sum_X2_sq - (sum_X2**2)/n
sum_y_sq_corrected = sum_Y_sq - (sum_Y**2)/n # Meskipun tidak digunakan di a,b1,b2, ini untuk kelengkapan
sum_x1y_corrected = sum_X1Y - (sum_X1 * sum_Y)/n
sum_x2y_corrected = sum_X2Y - (sum_X2 * sum_Y)/n
sum_x1x2_corrected = sum_X1X2 - (sum_X1 * sum_X2)/n

print("\n\n--- 3. KOREKSI JUMLAH KUADRAT DAN PRODUK (Notasi Huruf Kecil) ---")
print(f"Σx1^2                                : {sum_x1_sq_corrected:10.2f}")
print(f"Σx2^2                                : {sum_x2_sq_corrected:10.2f}")
print(f"Σy^2                                 : {sum_y_sq_corrected:10.2f}")
print(f"Σx1y                                 : {sum_x1y_corrected:10.2f}")
print(f"Σx2y                                 : {sum_x2y_corrected:10.2f}")
print(f"Σx1x2                                : {sum_x1x2_corrected:10.2f}")

--- 3. KOREKSI JUMLAH KUADRAT DAN PRODUK (Notasi Huruf Kecil) ---
Σx1^2                                :      32.10
Σx2^2                                :    3472.50
Σy^2                                 :   36810.00
Σx1y                                 :    1071.00
Σx2y                                 :   11165.00
Σx1x2                                :     331.50

**4. Menghitung Koefisien Regresi b1 dan b2**

In [10]:
denominator_b = (sum_x1_sq_corrected * sum_x2_sq_corrected) - (sum_x1x2_corrected**2)
b1 = ((sum_x2_sq_corrected * sum_x1y_corrected) - (sum_x1x2_corrected * sum_x2y_corrected)) / denominator_b
b2 = ((sum_x1_sq_corrected * sum_x2y_corrected) - (sum_x1x2_corrected * sum_x1y_corrected)) / denominator_b

print("\n\n--- 4. PERHITUNGAN KOEFISIEN REGRESI (b1 dan b2) ---")
print(f"Nilai Denominator untuk b1 dan b2    : {denominator_b:10.2f}")
print("-" * 60)
print(f"Koefisien b1 (Budget Iklan)          : {b1:10.4f}")
print(f"Koefisien b2 (Jumlah Sales)          : {b2:10.4f}")

--- 4. PERHITUNGAN KOEFISIEN REGRESI (b1 dan b2) ---
Nilai Denominator untuk b1 dan b2    :    1575.00
------------------------------------------------------------
Koefisien b1 (Budget Iklan)          :    11.3333
Koefisien b2 (Jumlah Sales)          :     2.1333

**5. Menghitung Konstanta a**

In [11]:
a = (sum_Y - (b1 * sum_X1) - (b2 * sum_X2)) / n

print("\n\n--- 5. PERHITUNGAN KONSTANTA REGRESI (a) ---")
print(f"Konstanta a (Intersep)               : {a:10.4f}")

print("\n\n==============================================================================")
print("                     PERSAMAAN REGRESI LINEAR BERGANDA                      ")
print("==============================================================================")
print(f" Y = {a:.4f} + {b1:.4f}X1 + {b2:.4f}X2")
print("------------------------------------------------------------------------------")
print(f" Penjualan = {a:.4f} + ({b1:.4f} * Budget Iklan) + ({b2:.4f} * Jumlah Sales)")
print("==============================================================================")

--- 5. PERHITUNGAN KONSTANTA REGRESI (a) ---
Konstanta a (Intersep)               :   -23.3333


==============================================================================
                     PERSAMAAN REGRESI LINEAR BERGANDA
==============================================================================
 Y = -23.3333 + 11.3333X1 + 2.1333X2
------------------------------------------------------------------------------
 Penjualan = -23.3333 + (11.3333 * Budget Iklan) + (2.1333 * Jumlah Sales)
==============================================================================