<a href="https://colab.research.google.com/github/LatiefDataVisionary/multivariate-analysis-college-task/blob/main/multiple_linear_regression_w10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Library**

In [1]:
import pandas as pd
import numpy as np

**1. Persiapan Data**

In [6]:
data = {
    'X2': [50, 30, 70, 20, 60, 40, 25, 80, 35, 45],  # Budget Iklan
    'X1': [5, 3, 7, 2, 6, 4, 3, 8, 4, 5],          # Jumlah Sales
    'Y': [120, 80, 200, 50, 180, 100, 70, 250, 90, 130] # Penjualan
}

df = pd.DataFrame(data)
# Menampilkan data
print("Dataset:\n")
print(df)

Dataset:

   X2  X1    Y
0  50   5  120
1  30   3   80
2  70   7  200
3  20   2   50
4  60   6  180
5  40   4  100
6  25   3   70
7  80   8  250
8  35   4   90
9  45   5  130